<div class="product-detail" [ngClass]="{'loading' : productLoading}">
  <div *ngIf="product">

    <app-page-title title="{{ product.name }}" [children]="[{title: 'Products', link: '/products'}, {title: product.name}]"></app-page-title>


    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
      <div class="row">
        <!-- Poduct Gallery-->
        <div class="col-md-6">
          <div class="product-gallery">
            <span *ngIf="product.reduction" class="product-badge text-danger">{{product.reduction}}% Off</span>
            <div class="product-gallery-image" [ngClass]="{'loading': !imagesLoaded.includes(activeImageUrl)}">
                <img [hidden]="!imagesLoaded.includes(activeImageUrl)" class="img-fluid" src="{{activeImageUrl}}" alt="{{product.name}}" (load)="onImageLoad($event)">
            </div>
            <ul class="product-thumbnails">
              <li *ngFor="let image of product.imageURLs; let i = index" [ngClass]="{'active': i === activeImageIndex}">
                <a href="" (click)="onSelectThumbnail($event, i)" class="product-thumbnail-image" [ngClass]="{'loading': !imagesLoaded.includes(activeImageUrl)}">
                  <img [hidden]="!imagesLoaded.includes(image)" [src]="image" alt="{{product.name}}" (load)="onImageLoad($event)">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Product Info-->
        <div class="col-md-6">
          <div class="padding-top-2x mt-2 hidden-md-up"></div>
          <app-rating-stars [rating]="product.currentRating"></app-rating-stars>
          <span *ngIf="product.ratings" class="text-muted align-middle">{{ ratingCount }} customer reviews</span>
          <h2 class="padding-top-1x text-normal">{{ product.name }}</h2>
          <span class="h2 d-block">
            <app-price [product]="product"></app-price>
          </span>
          <p>{{product.description}}</p>
          <div class="row margin-top-1x">
             
            <!-- <div class="col-sm-5">
              <div class="form-group">
                <label for="color">Choose color</label>
                <select class="form-control" id="color">
                  <option>White/Red/Blue</option>
                  <option>Black/Orange/Green</option>
                  <option>Gray/Purple/White</option>
                </select>
              </div>
            </div> -->
            <div class="col-sm-3">
              <div class="form-group">
                <label for="quantity">Quantity</label>
                <select class="form-control" id="quantity" (change)="onSelectQuantity($event)">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-10">
              <div class="form-group">
                <label for="startdate">Start Date</label>
                <div class="col-10">
                  <input class="form-control" type="date" id="date-input" value="">
                </div>
              </div>
              <div class="form-group">
                <label for="Enddate">End Date</label>
                <div class="col-10" >
                  <input class="form-control" type="date" id="date-input" value="" >
  
                </div>
              </div>
          </div>
          
           
        
            
          </div>
          <div class="padding-bottom-1x mb-2">
            <span *ngIf="product.categories" class="text-medium">Categories:&nbsp;</span>
            <a *ngFor="let category of product.categories" class="navi-link" href="#">{{ category }}{{' '}}</a>
          </div>
          <div class="form-group" *ngIf="user">
            <label for="review_rating">Your Rating</label>
              <select class="form-control form-control-rounded" name="rating" [(ngModel)]="selectedRating" (change)="onRate()">
                <option *ngFor="let value of ratingValues" [value]="value">{{ value }} Stars</option>
              </select>
          </div>
          <hr class="mb-2">
          <div class="d-flex flex-wrap justify-content-between">
            <div class="entry-share mt-2 mb-2">
              <span class="text-muted">Share:</span>
              <div class="share-links">
                <a class="social-button shape-circle sb-facebook" href="#" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <i class="socicon-facebook"></i>
                </a>
                <a class="social-button shape-circle sb-twitter" href="#" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <i class="socicon-twitter"></i>
                </a>
                <a class="social-button shape-circle sb-instagram" href="#" data-toggle="tooltip" data-placement="top" title="Instagram">
                  <i class="socicon-instagram"></i>
                </a>
                <a class="social-button shape-circle sb-google-plus" href="#" data-toggle="tooltip" data-placement="top" title="Google +">
                  <i class="socicon-googleplus"></i>
                </a>
                
              </div>
            </div>
            <div class="sp-buttons mt-2 mb-2">
               
              <button class="btn btn-primary" (click)="onAddToCart()" >
                <i class="icon-bag"></i> Add to Wishlist
              </button>
              <button *ngIf="user" class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Get Renter Details!</button>
                   
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Contact Renter</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Get Renter Details&hellip; : - </p>
                      <h4>
                        Name : {{items[0]}}
                      </h4>
                      <h4>
                        Email : {{items[1]}}
                      </h4>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                  </ng-template>
                 
                     
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
